<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravleEasy</title>
  <link rel="stylesheet" href="../stylesheets/Login.scss">
</head>
<body>
  <div className="MainLoginPage">
    <div className="ServiceDescriptionPart">
      <div className="Inner">
        <div className="Logo">
          <img src="../images/logo.png" alt="LogoImage"/>
        </div>
        <div className="Description">
          <a>서비스 설명이 주저리주저리 들어갔으면 좋겠다  서비스 설명이 주저리주저리 들어갔으면 좋겠다  서비스 설명이 주저리주저리 들어갔으면 좋겠다  서비스 설명이 주저리주저리 들어갔으면 좋겠다</a>
        </div>
      </div>
    </div>

    <div className="LoginPart">
      <div className="Inner">
        <div className="LoginDescription">
          <div class="Description">
            <a>Travle should be easy! So we make easy travle. <br/><br/>we are travler and guide.</a>
          </div>
        </div>
        <!-- 로그인 부분 -->
        <form action="" method="">
          <div className="LoginForm">
            <input type="text" placeholder="Email"/>

            <div className="Line"></div> <!-- 나중에 없애야 할곳 -->

            <input type="text" placeholder="Password"/>
          </div>
          <div className="button">
            <img src="../images/SingUpButton.png" alt="LoginButton"/>
          </div>
        </form>
        <div class="Footer">
          <div class="FindUserInfo"><a href="#">아이디 / 비밀번호 찾기</a></div>
          <div class="SingUp"><a href="../Singup/index.js">회원가입</a></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>