<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravleEasy</title>
  <link rel="stylesheet" href="../stylesheets/Mainpage.scss">
</head>
<body>
  <div className="MainPage">
    <div className="Inner">

      <div className="MainPageHeader">

        <h1 class="MainPageLogo">
          <a href="#"><img src="../images/logo.png"/></a>
        </h1>

        <ul className="MainPageMenuBar">
          <li><a href="#">여행하기</a></li>
          <li><a href="#">지역가이드</a></li>
          <li><a href="#">MY</a></li>
          <li><a href="#">LOGOUT(s19078@gsm.hs.kr)</a></li>
        </ul>

      </div>

      <div className="MainPageSlidePart">
        <div className="MainPageSlide">
          <div className="MainPageSlideTop"></div>
            <div className="MainPageSlideImagePart">
              <!-- 슬라이드 들어갈 부분 -->
            </div>
          <div className="MainPageSlideButtom"></div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>